/* *{
    border: 1px solid red
} */


#grid {
    width: 800px;
    background-color: blue;
    display: grid;
    align-items: center;
    justify-items: center;
}

.gridrows{
    width:800px;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 20px;

}

.emptySlots{
    height:90px;
    width: 90px;
    background-color: bisque;
    border-radius: 50%;
    border: 10px;
}

.yellowSlots{
    height:90px;
    width: 90px;
    background-color: yellow;
    border-radius: 50%;
    border: 10px
}

.redSlots{
    height:90px;
    width: 90px;
    background-color: red;
    border-radius: 50%;
    border: 10px
}